<!doctype html>
<html lang="pt_BR">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DT6ZK3NM44"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DT6ZK3NM44');
    </script>

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebSite",
          "name": "GetIP.dev",
          "url": "https://getip.dev",
          "description": "Descubra seu endereço IP atual de forma rápida e fácil."
        }
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Qual é meu IP - Descubra seu endereço IP atual com GetIP.dev, a ferramenta ideal para ajudar a solucionar problemas de rede e segurança.">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+20+Charted&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+20+Charted&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/css/styles.css">

    <style>
        .footer {
            position: relative;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <h1>
                <a class="pure-menu-heading jersey-10-regular" title="getip.dev" href="/">GetIP.dev</a>
            </h1>
        </div>
    </div>

    <div class="pure-g privacy-policy">
        <div class="content">
            <h2>1. Informações Coletadas</h2>

            <p>
                Quando você visita o nosso site, utilizamos o Google Tag Manager para monitorar e analisar as interações dos usuários. As informações coletadas podem incluir:

                <ol>
                    <li>Dados de navegação (páginas visitadas, tempo de permanência, cliques, etc.)</li>
                    <li>Endereço IP (que pode ser utilizado para determinar a localização geográfica)</li>
                    <li>Informações sobre o dispositivo e navegador utilizado</li>
                </ol>
            </p>
            

            <h2>2. Uso das Informações</h2>
            
            <p>As informações coletadas são utilizadas exclusivamente para:</p>
            
            <ol>
                <li>Melhorar a experiência do usuário no site</li>
                <li>Entender como os visitantes interagem com nosso conteúdo</li>
                <li>Realizar análises estatísticas para otimizar a performance do site</li>
            </ol>
            
            <h2>3. Compartilhamento de Informações</h2>
            <p>Nós não vendemos, trocamos ou de outra forma transferimos para terceiros as suas informações pessoais identificáveis. As informações coletadas pelo Google Tag Manager são armazenadas e gerenciadas pelo Google, em conformidade com a política de privacidade do Google.</p>
            
            <h2>4. Cookies</h2>
            <p>O nosso site pode utilizar cookies para armazenar informações temporárias e melhorar a sua experiência de navegação. Você pode optar por desativar os cookies nas configurações do seu navegador, mas isso pode afetar a funcionalidade do site.</p>
            
            <h2>5. Segurança das Informações</h2>
            <p>Adotamos medidas de segurança adequadas para proteger as suas informações pessoais contra acessos não autorizados, alteração, divulgação ou destruição.</p>
            
            <h2>6. Alterações na Política de Privacidade</h2>
            <p>Reservamos o direito de atualizar esta política de privacidade periodicamente. Qualquer alteração será publicada nesta página, e a data de modificação será atualizada no topo da página.</p>
            
            <h2>7. Contato</h2>
            <p>Se você tiver alguma dúvida sobre esta política de privacidade, entre em contato conosco através do contact@noffort.co.</p>
        </div>
    </div>  

    <div class="footer l-box is-center">
        Copyright © 2024 - Todos os direitos reservados para <a href="https://www.linkedin.com/in/hugodeaguiar/?locale=en_US" target="_blank">Hugo Aguiar</a>
    </div>
</div>

<!-- Cookie Consent Popup -->
<div class="cookie-consent-popup" id="cookieConsentPopup">
    <p>Utilizamos cookies para garantir que você tenha a melhor experiência em nosso site.<a href="/politica-de-privacidade" style="color: #ffd700;"> Saiba Mais</a></p>
    <button class="pure-button pure-button-primary" id="acceptCookies">Ok</button>
</div>

<script>
    // Show the cookie consent popup if not already accepted
    document.addEventListener('DOMContentLoaded', function() {
        if (!localStorage.getItem('cookieConsent')) {
            document.getElementById('cookieConsentPopup').style.display = 'block';
        }
    });

    // Handle the accept button click
    document.getElementById('acceptCookies').addEventListener('click', function() {
        localStorage.setItem('cookieConsent', 'accepted');
        document.getElementById('cookieConsentPopup').style.display = 'none';
    });
</script>
</body>
</html>