<!doctype html>
<html lang="{{ html_lang }}">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DT6ZK3NM44"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DT6ZK3NM44');
    </script>

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebSite",
          "name": "GetIP.dev",
          "url": "https://getip.dev",
          "description": "Descubra seu endereço IP atual de forma rápida e fácil."
        }
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Qual é meu IP - Descubra seu endereço IP atual com GetIP.dev, a ferramenta ideal para ajudar a solucionar problemas de rede e segurança.">
    <link rel="icon" type="image/png" href="/images/globe.png">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+20+Charted&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+20+Charted&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/css/styles.css">

    <style>
        .footer {
            position: relative;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <h1>
                <a class="pure-menu-heading jersey-10-regular" title="getip.dev" href="/">GetIP.dev</a>
            </h1>
        </div>
    </div>

    <div class="pure-g privacy-policy">
        <div class="content">
            <h2>1. {{ pp_info }}</h2>

            <p>
                {{ pp_info_1 }}

                <ol>
                    <li>{{ pp_info_1_1 }}</li>
                    <li>{{ pp_info_1_2 }}</li>
                    <li>{{ pp_info_1_3 }}</li>
                </ol>
            </p>
            

            <h2>2. {{ pp_use }}</h2>
            
            <p>{{ pp_use_1 }}</p>
            
            <ol>
                <li>{{ pp_use_1_1 }}</li>
                <li>{{ pp_use_1_2 }}</li>
                <li>{{ pp_use_1_3 }}</li>
            </ol>
            
            <h2>3. {{ pp_share }}</h2>
            <p>{{ pp_share_description }}</p>
            
            <h2>4. {{ pp_cookies }}</h2>
            <p>{{ pp_cookie_description }}</p>
            
            <h2>5. {{ pp_security }}</h2>
            <p>{{ pp_security_description }}</p>
            
            <h2>6. {{ pp_updates }}</h2>
            <p>{{ pp_updates_description }}</p>
            
            <h2>7. {{ pp_contact }}</h2>
            <p>{{ pp_contact_description }}</p>
        </div>
    </div>  

    <div class="footer l-box is-center">
        Copyright © 2024 - 2025 - A project by <a href="https://www.linkedin.com/in/hugodeaguiar/?locale=en_US" target="_blank">Hugo Aguiar</a>
    </div>
</div>

<!-- Cookie Consent Popup -->
<div class="cookie-consent-popup" id="cookieConsentPopup">
    <p>{{ cookie_consent }}<a href="/politica-de-privacidade" style="color: #ffd700;"> {{ see_more }}</a></p>
    <button class="pure-button pure-button-primary" id="acceptCookies">Ok</button>
</div>

<script>
    // Show the cookie consent popup if not already accepted
    document.addEventListener('DOMContentLoaded', function() {
        if (!localStorage.getItem('cookieConsent')) {
            document.getElementById('cookieConsentPopup').style.display = 'block';
        }
    });

    // Handle the accept button click
    document.getElementById('acceptCookies').addEventListener('click', function() {
        localStorage.setItem('cookieConsent', 'accepted');
        document.getElementById('cookieConsentPopup').style.display = 'none';
    });
</script>
</body>
</html>